fieldset{
    text-align: center;
    margin-top: 30px;

}
body{
    background-color: antiquewhite;
}
.main{
    display: flex;
    justify-content: center;
}

button{
    margin: 10px;
    width: 60px;
}

legend{
    text-decoration: underline;
}
